@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800&display=swap');
/* font-family: 'Montserrat', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700&display=swap&subset=cyrillic');
/* font-family: 'Oswald', sans-serif; */
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.conteiner{
    max-width: 1180px;
    margin: auto;
}
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
}
.header-bg{
    background-image: url("../img/hero-bg.jpg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    height: 97vh;
    padding-top: 20px;
}
.navbar-bg{
    background-color: rgba(225, 225, 225, 0.7);
}
.logo-link{
    width: 50px;
    height: 50px;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    align-items: center;
}
.nav-links{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-link-item{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #000;
}
.nav-link-item:hover{
    text-decoration: overline;
    color: #ffad00;
}
.nav-link-item:not(:last-child){
    margin-right: 3%;
}






.phone-button{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 2px solid #ffad00;
    background-image: url("../img/llamar.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 60%;
    display: none;
}























.menu-btn{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #ffad00;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
    display: none;
}
.menu-btn span::before,
.menu-btn span::after,
.menu-btn span{
    position: absolute;
    top: 50%; margin-top: -1px;
    left: 50%; margin-left: -15px;
    width: 30px;
    height: 3px;
    background-color: #000;
}
.menu-btn span::before,
.menu-btn span::after{
    content: '';
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
}
.menu-btn span::before{
    transform: translateY(-7.5px);
    -webkit-transform: translateY(-7.5px);
    -moz-transform: translateY(-7.5px);
    -ms-transform: translateY(-7.5px);
    -o-transform: translateY(-7.5px);
}
.menu-btn span::after{
    transform: translateY(5px);
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
}

.menu-active span::before{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
.menu-active span{
    height: 0;
}
.menu-active span::after{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}






.menu-block{
    display: none;
    left: 160%;
    position: absolute;
    margin-right: 0px;
    width: 60%;
    height: 80vh;
    background-color: rgba(22, 22, 22, 0.8);
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
}
.menu-list{
    margin-top: 10%;
    position: relative;
}
.menu-list li{
    list-style: none;
}
.menu-list li:not(:last-child){
    margin-bottom: 10px;
}
.menu-list-item{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}
.contacts-menu-block{
    margin-top: 30px;
}
.contacts-menu-block li{
    list-style: none;
    margin-bottom: 10px;
}
.contacts-menu-block a{
    display: flex;
    align-items: center;
}
.contacts-number:before{
    content: ' ';
    width: 18px;
    height: 18px;
    background-image: url("../img/footer/phone.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    margin-right: 10px;
}
.contacts-adress:before{
    content: ' ';
    width: 18px;
    height: 18px;
    background-image: url("../img/footer/map.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    margin-right: 10px;
}
.contacts-email:before{
    content: ' ';
    width: 18px;
    height: 18px;
    background-image: url("../img/footer/email.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    margin-right: 10px;
}




.scroll-btn{
    display: none;
    position: fixed;
    width: 50px;
    height: 50px;
    background: transparent;
    border: 2px solid #ffad00;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    right: 20px;
    top: 90%;
    z-index: 99999;
}
.scroll-btn-img{
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    height: 100%;
}
.scroll-btn-show{
    display: block;
}





























.menu-block-active{
    display: block;
    left: 40%;
}










.phone{
    font-size: 16px;
    text-decoration: none;
    color: #000;
}
.phone:hover{
    text-decoration: underline;
    color: #ffad00;
}
.search-block{
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-search{
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px solid #ffad00;
    width: 80%;
    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
    background-position: left 11px center;
    padding-left: 35px;
}
.button{
    border: 1px solid #ffad00;
    background-color: #ffad00;
    border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -ms-border-radius: 0 5px 5px 0;
    -o-border-radius: 0 5px 5px 0;
}
.button-search{
    padding: 10px 15px;
    margin-left: -15px;
}
.block-title{
    background-color: rgba(225, 225, 225, 0.8);
    padding: 30px 20px;
    margin-top: 8%;
    max-width: 50%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: #000;
}
.title{
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    margin: 0;
    margin-bottom: 15px;
}
.subtitle{
    font-size: 16spx;
}
.button-hero{
    margin-top: 20px;
    margin-left: 5%;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    padding: 10px 20px;
}



.production-title{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    margin-bottom: 30px;
    color: #ffad00;
}
.production-block{
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: rgba(225, 225, 225, 0.4);
    padding: 30px;
    color: #fff;
    margin-bottom: 100px;
    height: 500px;
}
.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product-block-img{
      width: 80%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
  }
.product_1{
    background-image: url("../img/photo/1.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.product_2{
    background-image: url("../img/photo/2.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.product_3{
    background-image: url("../img/photo/3.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.product_4{
    background-image: url("../img/photo/4.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.product_5{
    background-image: url("../img/photo/5.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.product_6{
    background-image: url("../img/photo/6.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.product_7{
    background-image: url("../img/photo/7.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.product-name{
    color: #ffad00;
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
}
.product-button{
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-color: #ffad00;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    text-decoration: none;
    color: #000;
}
.product-text{
    display: flex;
    align-items: center;
    justify-content: space-between;

}



.advantages-title{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    margin-bottom: 30px;
    color: #ffad00;
    margin-bottom: 50px;
}
.advantages__block{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: rgba(225, 225, 225, 0.4);
    padding: 30px;
    color: #fff;
    margin-bottom: 50px;
}
.advantages__card{
    display: flex;
    flex-direction: column;
    width: 180px;
    margin-bottom: 20px;
}
.advantages-img{
    width: 80px;
    height: 80px;
    margin-bottom: 25px;
    margin-left: 20px;
}
.advantages__card-block span{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: #ffad00;
}
.about_us{

}
.about_us-title{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    margin-bottom: 30px;
    color: #ffad00;
}
.about_us-text p{
    color: #fff;
    font-size: 18px;
}
.about_us-text{
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: rgba(225, 225, 225, 0.4);
    padding: 30px;
    color: #fff;
    margin-bottom: 50px;
}





.partners{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.partners-title{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    margin-bottom: 30px;
    color: #ffad00;
}
.partners-subtitle{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}
.partners-block{
    width: 90%;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: rgba(225, 225, 225, 0.4);
    padding: 30px;
    color: #fff;
    margin-bottom: 50px;
}
.partner-card{
    background-color: #fff;
    width: 280px;
    height: 300px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.partner-logo{
    display: block;
    width: 100%;
}
.partner-name{
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
    color: #000;
}
.partner-button{
    width: 100%;
    border: none;
    background-color: #ffad00;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    padding: 10px;
}
.feedback-title{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    margin-bottom: 30px;
    color: #ffad00;
}
.feedback-subtitle{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}
.feedback-block{
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: rgba(225, 225, 225, 0.4);
    padding: 30px;
    color: #fff;
    margin-bottom: 50px;
}
.feedback-block-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.feedback-input{
    border: 1px solid rgb(117, 116, 116);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 5px 10px;
    font-size: 18px;
    width: 100%;
    resize: none;
}
.feedback-input:not(:last-child){
    margin-bottom: 10px;
}
.feedback-button{
    width: 80%;
    padding: 20px 30px;
    border: none;
    background-color: #ffad00;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: #000;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
}
.feedback-block-text{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: column;
}
.row h6{
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    color: #ffe600;
}

.company_details-title{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    margin-bottom: 30px;
    color: #ffad00;
}
.company_details-subtitle{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}
.company_details-block{
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: rgba(225, 225, 225, 0.4);
    padding: 30px;
    color: #fff;
    margin-bottom: 50px;
}
.company_details-colum{
    display: flex;
    flex-direction: column;
}
.company_details-colum span{
    display: flex;
    text-align: left;
}
.company_details-colum span a{
    color: #ffe600;
}
.company_details-colum h6{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 0;
    margin-bottom: 15px;
    width: 35%;
}
















.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(225, 225, 225, 0.4);
    padding: 30px 30px 10px 30px;
}
.footer-contacts{
    display: flex;
    flex-direction: column;
}
.footer-link{
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: #000;
    margin-left: 5px;
}
.footer-link:not(:last-child){
    margin-bottom: 5px;
}
.footer-phone:before{
    content: ' ';
    width: 15px;
    height: 15px;
    background-image: url("../img/footer/phone.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    margin-right: 5px;
}
.footer-map:before{
    content: ' ';
    width: 15px;
    height: 15px;
    background-image: url("../img/footer/map.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    margin-right: 5px;
}
.footer-email:before{
    content: ' ';
    width: 15px;
    height: 15px;
    background-image: url("../img/footer/email.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    margin-right: 5px;
}
.logo-footer-block{
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo-footer{
    display: block;
    width: 80px;
    height: 80px;
    background-image: url("../img/footer/footer-logo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.social-links{
    display: flex;
    flex-direction: column;
}
.social-link:not(:last-child){
    margin-bottom: 10px;
}